<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/info.artikelstamm.builder/src/info/artikelstamm/builder/ArtikelstammBuilder.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="info.artikelstamm.builder.ArtikelstammBuilder"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--oddb2xmlSequencesFile ${project_loc}/sampleData/oddb2xml_swissmedic_sequences.csv &#10;--oddb2xmlProductFile ${project_loc}/sampleData/oddb_product.xml&#10;--oddb2xmlArticleFile ${project_loc}/sampleData/oddb_article.xml&#10;--oddb2xmlLimitationFile ${project_loc}/sampleData/oddb_limitation.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="info.artikelstamm.builder"/>
</launchConfiguration>
