<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/at.medevit.stammdaten.converter.v3/src/at/medevit/stammdaten/converter/v3/ConvertV3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="at.medevit.stammdaten.converter.v3.ConvertV3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--oddb2xmlArticleFile  &quot;${project_loc}/sampleData/working/oddb_article.xml&quot; --oddb2xmlLimitationFile  &quot;${project_loc}/sampleData/working/oddb_limitation.xml&quot; --oddb2xmlProductFile &quot;${project_loc}/sampleData/working/oddb_product.xml&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="at.medevit.stammdaten.converter.v3"/>
</launchConfiguration>
